@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&display=swap" rel="stylesheet');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{
    --font1: verdana, geneva, tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive; 
}
*{
    padding: 0px;
    margin: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
    
}
header >h1{
    font-family: var(--font2);
    font-variant: small-caps;
    font-size: 10vw;
}
header > p{
    padding-bottom: 50px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
}
section.normal{
    background-color: white;
}
section.imagem{
    background-color: rgb(44, 40, 40);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.733);
    background-size: cover;
    background-attachment: fixed;
    @media (max-width: @iphone-screen) {
        background-attachment: scroll;
    }
}
section >p{
    padding-bottom: 20px;
}
section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.39);
    padding: 20px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.555);
    
}
section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}
section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}

footer{
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
}